.wrap {
  display: grid;
  place-items: start;
}

.card {
  width: 100%;
}

.title {
  margin: 0 0 6px;
  font-size: 22px;
}

.sub {
  margin: 0;
  color: #a8b3cf;
  font-size: 14px;
  line-height: 1.4;
}
